service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }

    function isAuthor() {
      return resource.data.uid != null && resource.data.uid == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if isAuthor() || isAdmin();
    }

    match /calendars/{calendar} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}