service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }

    function isAuthor() {
      return resource.data.uid != null && resource.data.uid == request.auth.uid;
    }
    
    function isAuthenticated() {
      return request.auth.uid != null;
    }

    match /{document=**} {
      allow read, update, delete: if isAuthor() || isAdmin();
      allow create: if isAuthenticated();
    }

    match /calendars/{calendar} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /hairstyles/{hairstyle} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}